.ResultBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px;
  background-color: white;
  box-shadow: 0 0 16px 0 rgba(60, 60, 60, 0.07);
  border-radius: 2px;
  //min-height: 190px;
}

.ResultBoxHeader {
  cursor: pointer;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaedf0;
  user-select: none;

  &._collapsed {
    border-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.ResultBoxFooter {
  margin-top: 20px;
}

.triangle {
  font-size: 10px;
  font-weight: 400;
  color: #a2a9b1;
  vertical-align: baseline;
  position: relative;
  top: -2px;
  margin-left: 8px;
}
