.SearchResults {
}

.SearchResultsHeader {
  margin-bottom: 25px;
  border-bottom: 1px solid #d5dadf;
  padding-bottom: 15px;

  & .MainTitle {
    margin-bottom: 5px;
  }
}

.SearchResultsItems {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}
