.MainTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #45484e;
}

.SecondaryText {
  font-size: 16px;
  color: #181818;
}

.KeyValueText {
  font-size: 18px;
  margin-bottom: 5px;
}

.KeyValueTextKey {
  color: #888888;
}

.StyledLink {
  text-decoration: underline;

  &._blue {
    color: #0074a6;
  }

  &._red {
    color: #ff3d56;
  }
}

.BackLinkArrow {
  position: relative;
  top: -1px;
  font-size: 20px;
  padding-right: 5px;
  vertical-align: top;
  font-weight: 700;
  color: #0074a6;
}
