.MainTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #45484e;
}

.SecondaryText {
  font-size: 16px;
  color: #181818;
}

.KeyValueText {
  font-size: 18px;
  margin-bottom: 5px;
}

.KeyValueTextKey {
  color: #888888;
}
