.Page {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
}

.PageSidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eaedf0;
  background-color: #fff;
  padding: 25px;
  width: 300px;
}

.PageMain {
  flex: 1;
}

.PageTopMenu {
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #eaedf0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.PageContent {
  padding: 25px;
}
