.Page {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
}

.PageSidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eaedf0;
  border-bottom: 1px solid #eaedf0;
  background-color: #fff;
  padding: 25px;
  width: 300px;
}

.PageMain {
  flex: 1;
}

.PageTopMenu {
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #eaedf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
}

.PageContent {
  padding: 25px;
}

.PageTitle {
  font-weight: bold;
  position: relative;
  color: #0074a6;
  border-bottom: 1px solid #0074a6;
  min-width: 210px;
  padding-right: 10px;

  & .triangle {
    color: #0074a6;
    position: absolute;
    right: 0;
  }
}
