.Form {
  border-bottom: 1px solid #d5dadf;
  margin-bottom: 40px;
}

.FormFieldSet {
  display: grid;
  grid-template-columns: 370px;
  padding: 20px 0;
}

.FormFieldSet + .FormFieldSet {
  border-top: 1px solid #d5dadf;
}

.FormFooter {
  display: inline-grid;
  grid-template-columns: 200px;
  gap: 20px;
  padding-bottom: 20px;
}
