.Form {
  border-bottom: 1px solid #d5dadf;
  margin-bottom: 40px;

  hr {
    margin: 0;
    height: 1px;
    border-top: none;
    border-top: 1px solid #d5dadf;
  }
}

.FormFieldSet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 20px 0;

  &._wide {
    grid-template-columns: 1fr;
  }
}

.FormTextarea {
  padding: 10px;
}

.FormFooter {
  display: inline-grid;
  grid-template-columns: 200px;
  gap: 20px;
  padding-bottom: 20px;
}
